extends layout

block content
    div(class="container")
        div(class="row col-sm-12")
            h1= title

        div(id="report-page" class="subPage row col-sm-12")
            div(class="row")
                div(class="col-sm-12")
                    h4 Report využitia nápovied
                    p Zadajte PIN a dátum jeho použitia.
            div(class="row")
                div(class="col-sm-12")
                    - var today=new Date().toISOString().substr(0,10);
                    input(class="input-lg m-right-10" id="reportDate" type='date' name="reportDate" value=today)
                    input(class="input-lg m-right-10" id="reportPin" type='text' name="reportPin" placeholder="zadajte PIN")
                    button(id="createReport" class="btn-lg btn-primary") Vytvor report
            div(class="row")
                div(class="col-sm-12")
                    div(id="pinReport" class="m10")
                        p Tu sa zobrazí report...

        div(id="pin-page" class="row col-sm-12 subPage")
            h4 Aktívne PINy
            p Toto je zoznam aktuálne aktívnych PINov.
            div(class="row")
                div(class="col-sm-8")
                    input(class="input-lg m-right-10" id="newPin" type='text', placeholder='nový PIN' name='newPin' maxlength=10)
                    button(id="saveNewPin" class="btn-lg btn-primary m-right-10") Pridať nový aktívny PIN
                div(class="col-sm-4")
                    span(id="addPinStatus" class="statusMsg text-warning")
            div(class="row")
                div(id="active-pins" class="col-sm-12 m10")
                    p Žiadne aktívne PINy...
        div(id="hint-page" class="row col-sm-12 subPage")
            h4 Nápovedy
            div(class="row")
                div(class="col-sm-12")
                    p Tu môžete modifikovať nápovedy pre 13. záhradu
                    textarea(id="newHintsText" class="form-control" rows="20" placeholder="Nové nápovedy vložte sem a kliknite Uložiť.")
            div(class="row m10")
                div(class="col-sm-4")
                    button(id="saveHints" class="btn-lg btn-primary") Uložiť nové nápovedy
                div(class="col-sm-8")
                    span(id="saveHintsStatus" class="statusMsg")
    script.
        initAdmin();