extends layout

block content
    div(class="container")
        h1= title
        p Prihlásenie administrátora 1
        form(method='POST' action='/adminlogin')
             label(for='password') Heslo:
             input(id='password', type='text', placeholder='12345', name='password')