extends layout

block content
    h1= title
    div(id="hint-page")
        p Tu môžete modifikovať nápovedy pre 13. záhradu
        textarea(id="newHintsText" rows="20" cols="80" placeholder="Nové nápovedy vložte sem a kliknite Uložiť.")
        button(id="saveHints") Uložiť
        p(id="saveHintsStatus") placeholder
        script.
            initEditHints();