
.hint {
    padding-top: 10pt;
}

.hintL0 {
    margin:3pt;
    background-color: lightsteelblue;
    padding-left: 10pt;
    padding-right: 10pt;
}

.hintL1 {
    background-color: lightblue;
}

.hintL2 {
    background-color: lightcyan;
}
table {
    min-width: inherit;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 10pt;
}

td {
    padding: 10pt;
}

th {
    padding: 10pt;
    background-color: aliceblue;
    border-bottom-width: thin;
    border-color: darkgray;
}

.statusMsg {
    margin-left: 10pt;
}

.pinRow {
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #EDEEF3;
}
.pinItem {
    display: table-cell;
    float: left;
}
.pinTableHeader {
    padding: 5pt;
    background-color: #EDEEF3;
}

.page {
    max-width: 900px;
    margin-top: 20pt;
    margin-bottom: 20pt;
    border-top-width: thick;
    border-color: darkgray;
}

.subPage {
    margin-top: 10pt;
    margin-bottom: 20pt;
    border-top: 1px solid darkgray;
}

label {
    margin-right: 5pt;
}

.m10{
    margin-top: 10pt;
}

.m-right-10{
    margin-right: 10pt;
}