body, input, button {
    padding: 10pt;
    font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

option {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.hint {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.hintL0 {
    margin:3pt;
    background-color: beige;
    padding-left: 10pt;
    padding-right: 10pt;
}

.hintL1 {
    background-color: cornsilk;
}

.hintL2 {
    background-color: aliceblue;
}
table {
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding: 10pt;
}

td {
    padding: 10pt;
}

th {
    padding: 10pt;
    background-color: aliceblue;
    border-bottom-width: thin;
    border-color: darkgray;
}

.statusMsg {
    margin-left: 10pt;
}